html {
  box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  min-width: 350px;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: right;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0px;
}

h2 {
  text-align: center;
  font-family: Arial, Gotham, "Helvetica Neue", Helvetica, "sans-serif";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
}

h3 {
  text-align: left;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 300;
  color: #7D97AD;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 30px;
}

p {
  font-size: 14px;
  margin: auto;
  word-wrap: break-word;
}

.header-items {
  padding-top: 30px;
  max-width: 1000px;
  min-width: 350px;
  margin: auto;
}

.header-nav-items {
  max-width: 1000px;
  display: inline-block;
}

.logo {
  display: block;
  max-width: 100px;
  min-width: 70px;
  float: left;
}

#auth-name {
  float: right;
  text-align: right;
  line-height: 25px;
  padding-top: 25px;
}

.headline {
  text-align: right;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0px;
  font-size: 30px;
}

.sub-headline {
  text-align: right;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
}

hr {
  height: 3px;
  background-color: #7d97ad;
  border: 0;
  max-width: 1000px;
}

.hero-image {
  padding-top: 20px;
  max-width: 1000px;
  width: 100%;
}

.featured-work {
  margin: auto;
}

#portfolio-items {
  margin-right: 2%;
  margin-left: 0;
  float: left;
  width: 32%;
  display: block;
  padding-bottom: 20px;
}

#portfolio-items img {
  width: 100%;
  padding-bottom: 20px;
  display: block;
}

.button {
  background-color: #000000;
  color: white;
  padding: 3%;
  width: 60%;
  margin-top: 5%;
}

.button:hover {
  background-color: #88E3E6;
  color: #000;
  -webkit-transition: .2s;
  /* Safari */
  transition: .2s;
}

.button2 {
  border: solid 1px #000000;
  color: #000000;
  padding: 3%;
  width: 60%;
  margin-top: 5%;
}

.button2:hover {
  border-color: #88E3E6;
  color: #000;
  -webkit-transition: .2s;
  /* Safari */
  transition: .2s;
}

#Brokeh {
  float: left;
  width: 32%;
  display: block;
  margin: auto;
}

#Brokeh img {
  width: 100%;
  padding-bottom: 20px;
  display: block;
}

@media (max-width: 700px) {
  h3 {
    text-align: center;
  }
  img {
    width: 100%;
  }
  .logo {
    float: none;
    margin: auto;
    width: 80px;
  }
  .auth-name {
    margin: auto;
    float: none;
    text-align: center;
    padding-bottom: 20px;
  }
  .header-nav-items {
    display: inline-block;
  }
  .featured-Work {
    width: 100%;
    margin: auto;
  }
  #portfolio-items {
    box-sizing: border-box;
    float: none;
    width: 100%;
    display: inherit;
  }
  #Brokeh {
    box-sizing: border-box;
    float: none;
    width: 100%;
    display: inherit;
  }
}